// --------------------------
// Variables
// --------------------------

$fa-font-path : "../fonts/font-awesome" !default;

$brand-primary : #CCCCCC;

$body-bg-color : #DDDDDD;

// Breakpoints
$tiny-breakpoint: 360px;
$small-breakpoint: 580px;
$tablet-breakpoint: 767px;
$medium-breakpoint: 900px;
$large-breakpoint: 1240px;

// Media queries
$large: "only screen and (min-width: #{$large-breakpoint})";
$medium: "only screen and (max-width: #{$medium-breakpoint})";
$tablet: "only screen and (max-width: #{$tablet-breakpoint})";
$small: "only screen and (max-width: #{$small-breakpoint})";
$tiny: "only screen and (max-width: #{$tiny-breakpoint})";

$gutter-width: 44px;
$gutter-medium-width: 30px;
$container: 1420px;
$container-small: 1174px;

// Neat settings
$neat-grid: (
  columns: 12,
  gutter: $gutter-width,
);

$medium-grid: (
  columns: 12,
  gutter: $gutter-medium-width,
);

$small-grid: (
  columns: 6,
  gutter: 20px
);

$touching-grid: (
  columns: 1,
  gutter: 0
);

$page-width: $container + (2 * $gutter-width);
$page-small-width: $container-small + (2 * $gutter-width);

$markpro: (
  "MarkWebPro",
  -apple-system,
  BlinkMacSystemFont,
  "Helvetica",
  "Roboto",
  "Noto",
  "Ubuntu",
  sans-serif
);

$georgia: (
  "Georgia",
  -apple-system,
  BlinkMacSystemFont,
  "Helvetica",
  "Roboto",
  "Noto",
  "Ubuntu",
  sans-serif
);

$montserrat: (
  "Montserrat",
  -apple-system,
  BlinkMacSystemFont,
  "Helvetica",
  "Roboto",
  "Noto",
  "Ubuntu",
  sans-serif
);
