.header {
  padding-bottom: 34px;
  padding-top: 67px;

  @media #{$medium} {
    padding-bottom: 25px;
    padding-top: 45px;
  }

  @media #{$small} {
    padding: 15px 0;
  }

  @media #{$tiny} {
    text-align: center;
    margin-bottom: 30px;
  }

  > .container {
    @include grid-container;

    .left-content {
      float: left;

      @media #{$tiny} {
        float: none;
      }
    }

    .right-content {
      float: right;
      padding: 13px 0;

      @media #{$small} {
        padding: 12px 0px 11px;
      }

      @media #{$tiny} {
        float: none;
      }
    }
  }

  .logo {
    h1 {
      font-size: em(26px);
      margin: 0;
      padding: 0;
      font-weight: 700;

      @media #{$small} {
        font-size: 16px;
      }

      > a {
        display: block;
        margin: 10px 0;
        outline: none;
        color: $color-black;

        &.image {
          background-position: left center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 34px;
          max-width: 150px;
          overflow: hidden;
          text-indent: 160px;
          transition: all .3s ease;
          white-space: nowrap;

          @media #{$small} {
            height: 25px;
            max-width: 100px;
            text-indent: 120px;
            margin: 10px 0;
          }

          @media #{$tiny} {
            margin: 10px auto;
          }
        }
      }
    }
  }

  .main-navigation {
    float: right;

    @media #{$tiny} {
      float: none;
    }
  }
}

.feature-logo {
  img {
    max-height: 83px;
  }
}
