#{$all-buttons} {
  @include button-bg($dark-gray, $color-black);
  -webkit-font-smoothing: antialiased;
  appearance: none;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  max-width: 220px;
  padding: 21px 30px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;

  @media #{$small} {
    padding: 15px 30px 13px;
    max-width: inherit;
    width: auto;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &.white {
    @include button-bg($color-white, $color-gray-f1, $dark-gray);
  }

  &.big {
    padding: 14px 40px 18px 36px;
  }
}
