// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $markpro;
$heading-font-family: $base-font-family;
$base-font-size: 16px;

// Line height
$base-line-height: 1.75;
$heading-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #0083ff;
$dark-gray: #171717;
$medium-gray: #999;
$light-gray: #5a6363;

$color-white: #fff;
$color-black: #000;
$color-blue-dark: #0f3a64;
$color-blue: #0080ff;
$color-blue-light: #0080fc;
$color-gray-f9: #f9f9f9;
$color-gray-ed: #ededed;
$color-gray-c8: #c8c8c8;
$color-gray-e9: #e9e9e9;
$color-gray-ef: #efefef;
$color-gray-f8: #f8fbff;
$color-red: #dc4e41;
$color-blue-darken: #2453b4;

// Buttons color.
$color-blue-hover: #004a8f;
$color-blue-dark-hover: #051b31;

// Font Colors
$base-font-color: $color-blue-dark;
$action-color: $blue;

// Border
$base-border-color: rgba($action-color, .16);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $color-white;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

$cd-perspective: 2000px;
$cd-animation-duration: .5s;
