.box-form {
  &-inner {
    position: relative;
    z-index: 1;
  }

  .sign-in {
    color: $action-color;
    font-size: 13px;
    margin-bottom: 45px;

    a {
      text-decoration: underline;
    }
  }
}

.register-form {
  margin-bottom: 21px;

  .action {
    margin-top: 25px;
  }
}
