#{$all-buttons} {
  @include button-bg($color-green, $color-black);
  -webkit-font-smoothing: antialiased;
  appearance: none;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1;
  padding: 18px 40px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &.blue {
    @include button-bg($color-blue, $color-blue-dark);
  }

  &.brown {
    @include button-bg($color-brown, $color-brown-dark);
  }

  &.white {
    @include button-bg($color-white, $color-alabaster, $color-black);
  }

  &.small {
    padding: 14px 38px 13px;
  }
}
