$fonts-dir: '../fonts';

@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url('#{$fonts-dir}/TimesNewRomanPSMT.eot');
  src: url('#{$fonts-dir}/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts-dir}/TimesNewRomanPSMT.woff') format('woff'),
    url('#{$fonts-dir}/TimesNewRomanPSMT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
