.text {
  &--center {
    text-align: center;
  }

  &--medium {
    font-size: 17px;
  }

  &--small {
    font-size: 13px;
    line-height: 1.38;
  }

  &--white {
    color: $color-white;
  }

  &--light {
    color: $color-elephant;
  }
}

.bg {
  &--white {
    background-color: $color-white;
  }

  &--casper {
    background-color: $color-casper;
  }

  &--soft-amber {
    background-color: $color-soft-amber;
  }

  &--vista-white {
    background-color: $color-vista-white;
  }
}

.clearfix {
  @include clearfix;
}

.no-float {
  float: none;
}

%bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
