//Convert px to em
@function em($target, $context: $base-font-size) {
  @if $target == 0 {
    @return 0;
  }
  @return ($target / $context) * 1em;
}

@mixin button-bg($bg, $bgAcive, $textColor: $color-white) {
  background-color: $bg;
  color: $textColor;

  &:hover,
  &:active,
  &.active {
    background-color: $bgAcive;
    color: $textColor;
  }

  &:disabled {
    &:hover,
    &:active {
      background: $bg;
    }
  }
}

@mixin tileStyle($padParent, $padItem, $floating: 2) {
  height: 0;
  padding-bottom: $padParent;
  position: relative;

  article {
    @include position(absolute, null 0 0);
    padding: $padItem;
    z-index: $floating;
  }
}

@mixin tileStyleMobile($media: $medium) {
  @media #{$media} {
    height: auto;
    padding-bottom: 0;
  }

  article {
    @media #{$media} {
      position: static;
    }
  }
}
