html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: 500;
}

h2 {
  font-size: em(40px);

  @media #{$medium} {
    font-size: 2.2em;
  }
}

h3 {
  font-size: em(30px);
  font-weight: 400;

  @media #{$medium} {
    font-size: 1.5em;
  }

  @media #{$small} {
    font-size: 1.8em;
  }
}

h4 {
  font-size: em(20px);
  font-weight: 400;

  @media #{$medium} {
    font-size: 1em;
  }
}

p {
  margin: 0 0 $small-spacing;
  font-weight: 300;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

blockquote {
  font-size: 27px;
  line-height: 40px;
  margin: 0;
  font-weight: 500;

  // @media #{$medium} {
  //   font-size: 1.5em;
  //   line-height: 1.3;
  // }

  // @media #{$small} {
  //   font-size: 1.8em;
  // }

  &:before {
    content: '\201c';
  }

  &:after {
    content: '\201d';
  }

  p {
    display: inline;
    font-weight: inherit;
  }
}
