// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $montserrat;
$heading-font-family: $base-font-family;
$base-font-size: 16px;

// Line height
$base-line-height: 1.65;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$color-navy: #0c62ad;
$color-dark-gray: #333;

$color-light-blue: #186ab1;
$color-light-purple: #f27328;
$color-gray-5c: #5c5c5c;
$color-gray-d8: #d8d8d8;
$color-gray-88: #888;
$color-gray-ef: #efeded;
$color-gray-f8: #f8f8f8;

// MTV
$color-dune: #322c26;
$footer-brown: #cbab8c;

// Button color.
$color-green: #083441;
$color-blue: #566d88;
$color-blue-dark: #344b66;
$color-brown: #a09387;
$color-brown-dark: #635445;
$color-alabaster: #f8f8f8;
$color-white: #fff;
$color-black: #000;

// Bg color.
$color-casper: #adbdce;
$color-soft-amber: #cebdad;
$color-vista-white: #fbf7f4;

// Text color.
$color-tiber: #073441;
$color-sliver: #adadad;
$color-orange: #ff865f;
$color-elephant: #123c47;

// Font Colors
$base-font-color: $color-green;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
