.box-text {
  padding: 18px 32px;

  .tile & {
    @include position(absolute, null 0 0 0);
  }

  .grid-image & {
    padding: 40px 32px;
  }

  span {
    display: block;
    font-size: 24px;
  }

  h2 {
    margin-bottom: 24px;
  }

  article {
    h3 {
      margin-bottom: 0;
    }
  }

  .box-article & {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 49px 32px 51px;

    @media #{$medium} {
      padding: 30px 25px;
    }

    .meta {
      margin-bottom: 18px;
    }

    time {
      background-image: url(../img/icons/calendar.svg);
      background-position: 0px -3px;
      background-repeat: no-repeat;
      background-size: 26px 26px;
      display: block;
      font-size: 18px;
      text-indent: 38px;
    }

    p {
      flex-grow: 1;
      margin-bottom: 24px;
    }

    h3 {
      margin-bottom: 14px;
    }
  }
}

.box-image {
  .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
  }

  .text {
    padding: 23px 40px 23px 30px;

    h3 {
      margin-bottom: 14px;
    }
  }

  &.image-right {
    position: relative;

    .text {
      width: 59.5%;
    }

    .image {
      @include position(absolute, 0 0 0 59.5%);
      padding: 0;
    }
  }
}

.box-article {
  display: flex;
  flex-flow: row wrap;
  clear: both;

  &-item {
    margin-bottom: 46px;
  }
}
