.tile {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  margin-bottom: 46px;
  padding-bottom: 14.7%;
  position: relative;

  &:before {
    @include position(absolute, 0);
    background-color: rgba($base-font-color, .35);
    content: '';
  }

  .grid-image & {
    padding-bottom: 52.7%;
    margin-bottom: 0;
  }
}
