.menu {
  @include clearfix;

  li {
    display: inline-block;
    margin-left: 30px;

    @media #{$small} {
      margin-left: 20px;
    }

    a {
      color: $color-white;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      position: relative;
      padding-left: 24px;

      &:hover {
        color: shade($color-white, 10%);
      }

      &:before {
        content: '/';
        position: absolute;
        left: 0;
      }
    }
  }
}

.main-navigation {
  .menu {
    li {
      a {
        @media #{$small} {
          font-size: 12px;
        }
      }
    }
  }
}

.footer-navigation {
  .menu {
    li {
      @media #{$small} {
        margin-left: 28px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}
