.tile {
  $root: &;

  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 13px;
  margin-top: 45px;
  place-content: stretch flex-start;
  position: relative;

  @media #{$medium} {
    margin-bottom: 0;
    margin-top: 60px;
  }

  @media #{$tablet} {
    margin-top: 40px;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    margin-top: 0;
  }

  &:nth-child(2),
  &:nth-child(3) {
    @media #{$tablet} {
      margin-top: 40px;
    }
  }

  .action {
    .button {
      margin-top: 4px;
    }
  }

  &-image {
    h3 {
      margin-bottom: 14px;
    }

    &.has-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 0;
      margin-bottom: 32px;
      overflow: hidden;
      padding-bottom: 80%;
      position: relative;
      width: 100%;

      @media #{$large} {
        padding-bottom: 50%;
      }

      @media #{$tablet} {
        padding-bottom: 50%;
      }

      @media #{$small} {
        padding-bottom: 70%;
      }

      &:before {
        @include position(absolute, 0);
        background-color: rgba($dark-gray, .35);
        content: '';
        z-index: 1;
      }

      h3 {
        @extend .text-white;
        @include position(absolute, null 0 0 0);
        margin-bottom: 0;
        z-index: 2;
        padding: 15px 20px;

        @media #{$large} {
          padding: 22px 65px 18px 30px;
        }
      }
    }
  }

  &-text {
    flex-grow: 1;

    p {
      margin-bottom: 20px;
    }
  }

  .event {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 49px 33px 51px;

    @media #{$medium} {
      padding: 30px 25px;
    }

    .meta {
      margin-bottom: 18px;
    }

    time {
      background-image: url(../img/icons/calendar.svg);
      background-position: 0px -3px;
      background-repeat: no-repeat;
      background-size: 26px 26px;
      display: block;
      font-size: 18px;
      text-indent: 38px;
    }
  }
}

.tiles {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-flow: row wrap;
  place-content: stretch flex-start;

  &-four-cols {
    margin-bottom: 7px;

    .tile {
      @media #{$medium} {
        margin-top: 60px;
      }

      @media #{$tablet} {
        margin-top: 40px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        @media #{$medium} {
          margin-top: 0;
        }
      }

      &:nth-child(2) {
        @media #{$tiny} {
          margin-top: 40px;
        }
      }

      &:nth-child(4) {
        margin-top: 0;

        @media #{$medium} {
          margin-top: 60px;
        }

        @media #{$tablet} {
          margin-top: 40px;
        }
      }
    }

    .tile-image {
      background-position: center top;
      margin-bottom: 0;
      padding-bottom: 136.8%;

      h3 {
       padding-bottom: 27px;
      }
    }
  }

  &-event {
    .tile {
      @media #{$tablet} {
        margin-top: 30px;
      }

      @media #{$small} {
        margin-top: 20px;
      }

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}
