section.header,
section.footer {
	.branding {
		@include grid-column(8);

		@media #{$medium} {
			@include grid-column(6);
		}

		@media #{$tiny} {
			@include grid-column(12);
		}
	}

	.navigation {
		@include grid-column(4);
		padding: 32px 6px 15px;

		@media #{$medium} {
			@include grid-column(6);
			padding: 19px 6px;
		}

		@media #{$small} {

			padding: 15px 0;
		}

		@media #{$tiny} {
			@include grid-column(12);
			float: none;
			clear: both;
			text-align: center;
		}
	}
}

section.header {
	margin-bottom: 51px;

	@media #{$medium} {
		margin-bottom: 40px;
	}
}

.branding {
	@media #{$tiny} {
		margin-bottom: 15px;
	}

	.identity {
		display: block;
		font-size: 28px;
		font-weight: 500;
		letter-spacing: 4px;
		margin: 10px 0;
		text-transform: uppercase;

		@media #{$medium} {
			font-size: 15px;
			font-weight: 500;
			letter-spacing: 3px;
			padding-right: 0;
		}

		@media #{$small} {
			font-size: 14px;
			font-weight: 500;
		}

		&.image {
			background-position: left center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 51px;
			max-width: 200px;
			overflow: hidden;
			text-indent: 220px;
			transition: all .3s ease;
			white-space: nowrap;

			@media #{$medium} {
				height: 42px;
				max-width: 150px;
				text-indent: 170px;
				margin: 10px 0;
			  }

			@media #{$small} {
			  height: 35px;
			  max-width: 150px;
			  text-indent: 170px;
			}

			@media #{$tiny} {
				margin: 0 auto;
				background-position: center center;
			}
		  }
	}
}

nav ul {
	@include clearfix();
	list-style: none;
	float: right;

	@media #{$tiny} {
		float: none;
		display: inline-block;
		margin: 0 auto;
	}

	li {
		float: left;
		margin-right: 22px;
		list-style: none;

		@media #{$small} {
			margin-right: 15px;
		}

		&:last-child {
			margin-right: 0;
		}

		a,
		a:link,
		a:visited {
			text-transform: capitalize;
			font-size: 16px;

			@media #{$small} {
				font-size: 13px;
			}
		}
	}
}
