.banner {
  @include tileStyle(56.4%, 90px 70px);
  @include tileStyleMobile();
  padding-top: 0;

  @media #{$medium} {
    min-height: 56.4vw;
    display: table;
  }

  @media #{$small} {
    min-height: 70vw;
  }

  @media #{$tiny} {
    min-height: 100vw;
  }

  article {
    width: 79%;

    @media #{$large} {
      padding: 13.2% 8.7%;
    }

    @media #{$medium} {
      display: table-cell;
      padding: 60px calc(10% + 50px) 60px 50px;
      vertical-align: bottom;
      width: 100%;
    }

    @media #{$small} {
      padding: 40px 30px 30px;
    }

    h1 {
      margin-bottom: 4px;
    }

    p {
      margin-bottom: 43px;

      @media #{$medium} {
        margin-bottom: 35px;
      }

      @media #{$small} {
        margin-bottom: 20px;
      }
    }
  }

  &--small {
    article {
      p {
        margin-bottom: 23px;
      }
    }
  }
}
