.box-intro {
  margin: 0 auto;
  max-width: 850px;

  &-small {
    max-width: 720px;
  }

  h2 {
    margin-bottom: 17px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
  }

  .action {
    margin-bottom: 13px;

    &.read-more {
      padding-top: 37px;
    }
  }

  .image {
    border-color: $color-gray-ee;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    line-height: 0;
    margin: 5px auto 0;
    max-width: 276px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    img {
      border-radius: 8px;
    }

    &.no-border {
      border-radius: 0;
      border: 0;
      max-width: 100%;
      margin-bottom: 31px;

      img {
        border-radius: 0;
        max-height: 90px;
      }
    }
  }

  article {
    margin-bottom: 46px;

    @media #{$medium} {
      margin-bottom: 30px;
    }
  }

  .wrapper {
    background-color: $body-background-color;
    margin-top: -95px;
    min-height: 95px;
    padding-top: 25px;
    position: relative;
    z-index: 2;
  }
}

.box-content {
  margin-bottom: 20px;
  padding-right: 30px;

  @media #{$tablet} {
    padding-right: 0;
  }

  h3 {
    margin-bottom: 20px;

    @media #{$large} {
      margin-bottom: 34px;
    }
  }

  p {
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 31px;

    @media #{$large} {
      margin-bottom: 31px;
    }
  }

  .action {
    font-size: 19px;
  }
}
