.box-image {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;

  @media #{$small} {
    flex-direction: column;
  }

  .box-left {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 51px 55px;
    width: 50%;

    @media #{$large} {
      padding: 82px 100px 120px 77px;
      width: 58.5%;
    }

    @media #{$medium} {
      padding: 40px;
    }

    @media #{$small} {
      order: 2;
      padding: 20px;
      width: 100%;
    }

    article {
      margin-bottom: 1em;

      h2 {
        font-size: em(66px);
        line-height: 1.03;
        margin-bottom: 6px;

        @media #{$medium} {
          font-size: 2.5em;
        }
      }

      p {
        font-size: em(18px);
        line-height: 1.56;
        padding-left: 5px;
      }
    }

    .action {
      padding-left: 5px;
    }
  }

  .box-right {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 508px;
    position: relative;
    width: 50%;
    padding-bottom: 0;

    @media #{$large} {
      width: 60%;
    }

    @media #{$medium} {
      height: auto;
    }

    @media #{$small} {
      padding-bottom: 56%;
      width: 100%;
    }
  }
}
