#footer {
  margin-top: auto;
  padding-bottom: 50px;
  padding-top: 59px;

  @media #{$medium} {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @media #{$small} {
    padding: 15px 0;
  }

  > .container {
    @include grid-container;

    .left-content {
      float: left;
    }

    .right-content {
      float: right;
      padding: 13px 0;

      @media #{$small} {
        padding: 12px 0px 11px;
      }
    }
  }

  .logo {
    float: left;

    h1 {
      font-size: em(26px);
      margin: 0;
      padding: 0;
      font-weight: 700;

      @media #{$small} {
        font-size: 16px;
      }

      > a {
        display: block;
        margin: 10px 0;
        outline: none;
        color: $color-black;

        @media #{$small} {
          margin: 0;
        }

        &.image {
          background-position: left center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 34px;
          max-width: 150px;
          overflow: hidden;
          text-indent: 160px;
          transition: all .3s ease;
          white-space: nowrap;
          // margin-top: 17px;
          // margin-bottom: 25px;

          @media #{$small} {
            height: 25px;
            max-width: 100px;
            text-indent: 120px;
            margin: 10px 0;
          }
        }
      }
    }
  }

  .logo-second {
    float: left;
    padding: 8px 0;
    line-height: 0;
    margin-left: 18px;

    img {
      height: 38px;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .main-navigation {
    float: right;

    a {
      opacity: 1;
    }
  }
}
