.grid-content {
  @include clearfix;
  padding: 32px 0;

  &-left {
    float: left;
    padding-right: 30px;
    width: 55%;

    @media #{$large} {
      padding-right: 48px;
      width: 60%;
    }

    @media #{$medium} {
      padding-right: 20px;
      width: 50%;
    }

    @media #{$tablet} {
      float: none;
      padding-right: 0;
      width: 100%;
    }

    article {
      font-size: 15px;

      ul,
      ol {
        font-size: 14px;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-bottom: 9px;
    }
  }

  &-right {
    float: left;
    padding-left: 30px;
    padding-top: 9px;
    width: 45%;

    @media #{$large} {
      padding-left: 44px;
      width: 40%;
    }

    @media #{$medium} {
      padding-left: 20px;
      width: 50%;
    }

    @media #{$tablet} {
      float: none;
      padding-left: 0;
      width: 100%;
    }
  }

  &--small {
    padding: 27px 0 32px;
  }
}
