.grid-image {
  &__image {
    @extend %bg-image;
    @include tileStyle(72.5%, 0);
    margin-bottom: 36px;

    @media #{$medium} {
      margin-bottom: 25px;
    }

    @media #{$tablet} {
      padding-bottom: 60%;
    }

    @media #{$small} {
      margin-bottom: 20px;
      padding-bottom: 72.5%;
    }
  }

  &__item {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 32px;

    @media #{$tablet} {
      margin-bottom: 15px;
    }
  }

  article {
    padding: 0 31px;

    p {
      margin-bottom: 2px;
    }
  }

  .action {
    a {
      color: $color-orange;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
