.header {
  padding: 84px 0 64px;

  @media #{$medium} {
    padding: 50px 0 40px;
  }

  @media #{$tiny} {
    padding: 40px 0 30px;
    text-align: center;
  }

  .branding {
    @include grid-column(8);

    @media #{$medium} {
      @include grid-column(8, $medium-grid);
    }

    @media #{$small} {
      @include grid-column(3, $small-grid);
    }

    @media #{$tiny} {
      @include grid-column(6, $small-grid);
      margin-bottom: 10px;
    }

    .logo {
      color: $color-green;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 4.8px;
      margin-right: 26px;
      text-decoration: none;
      text-transform: uppercase;

      @media #{$medium} {
        font-size: 15px;
        letter-spacing: 3px;
        margin-right: 10px;
      }

      @media #{$tiny} {
        margin-right: 0;
      }

      &:hover,
      &:active,
      &:focus {
        color: shade($color-green, 10%);
      }
    }

    .description {
      color: $color-sliver;
      font-family: $timesnewromanpsmt;
      font-size: 18px;
      font-style: italic;

      @media #{$medium} {
        font-size: 15px;
      }

      @media #{$small} {
        display: none;
      }
    }
  }

  .navigation {
    @include grid-column(4);

    @media #{$medium} {
      @include grid-column(4, $medium-grid);
    }

    @media #{$small} {
      @include grid-column(3, $small-grid);
    }

    @media #{$tiny} {
      @include grid-column(6, $small-grid);
    }

    ul {
      float: right;

      @media #{$tiny} {
        float: none;
      }
    }
  }
}
