.intro {
  padding: 0 15%;

  @media #{$medium} {
    padding: 0 12%;
  }

  @media #{$small} {
    padding: 0 10px;
  }

  @media #{$large} {
    padding: 0 20%;
  }

  h2 {
    margin-bottom: 39px;
  }
}
