html {
  @media #{$small} {
    font-size: 80%;
  }
}

// Basic Layout Considerations
body > section {
  @include clearfix();
  padding-bottom: 58px;
  padding-top: 130px;

  @media #{$medium} {
    padding: 80px 0 50px;
  }

  @media #{$small} {
    padding: 60px 0 35px;
  }

  > .container {
    @include grid-container;
    margin: 0 auto;
    max-width: $page-width;
  }

  > .container-small {
    max-width: $page-small-width;
  }
}

.section-title {
  margin-bottom: 100px;

  @media #{$medium} {
    margin-bottom: 70px;
  }

  @media #{$small} {
    margin-bottom: 35px;
  }

  @media #{$tiny} {
    margin-bottom: 20px;
  }
}

.grid-2 {
  @include grid-column(2);

  @media #{$medium} {
    @include grid-column(6, $medium-grid);
  }
}

.grid-3 {
  @include grid-column(3);

  @media #{$medium} {
    @include grid-column(6, $medium-grid);
  }

  @media #{$tiny} {
    @include grid-column(6, $small-grid);
  }
}

.grid-4 {
  @include grid-column(4);

  @media #{$medium} {
    @include grid-column(4, $medium-grid);
  }

  @media #{$tablet} {
    @include grid-column(6, $small-grid);
  }
}

.grid-6 {
  @include grid-column(6);

  @media #{$medium} {
    @include grid-column(6, $medium-grid);
  }

  @media #{$tablet} {
    @include grid-column(6, $small-grid);
  }
}

.grid-8 {
  @include grid-column(8);

  @media #{$medium} {
    @include grid-column(8, $medium-grid);
  }

  @media #{$tablet} {
    @include grid-column(6, $small-grid);
  }
}

.grid-12 {
  @include grid-column(12);

  @media #{$medium} {
    @include grid-column(12, $medium-grid);
  }

  @media #{$small} {
    @include grid-column(6, $small-grid);
  }
}
