// Navigation style
.navigation {
  ul {
    list-style: none;

    > li {
      float: left;
      margin-right: 20px;

      @media #{$tiny} {
        display: inline-block;
        float: none;
        margin: 0 10px;
      }

      &:last-of-type {
        margin-right: 0;
      }

      a,
      a:link,
      a:visited {
        color: $color-green;
        display: block;
        font-size: 17px;
        font-weight: 300;
        text-decoration: none;
        width: 100%;

        @media #{$medium} {
          font-size: 15px;
        }
      }

      a:hover,
      a:active {
        color: $color-black;
      }
    }
  }
}
