.request-form {
  @include clearfix;
  border-radius: 8px;
  border: 1px solid $color-gray-df;
  margin: 0 auto;
  max-width: 770px;
  padding: 52px 41px 43px;
  width: 100%;

  @media #{$tablet} {
    padding: 40px 30px 35px;
  }

  .form-element {
    float: left;
    margin-bottom: 43px;
    margin-right: $gutter-width;
    width: calc(50% - #{$gutter-width} / 2);

    @media #{$tablet} {
      margin-bottom: 30px;
      margin-right: $gutter-medium-width;
      width: calc(50% - #{$gutter-medium-width} / 2);
    }

    @media #{$small} {
      margin-right: 0;
      width: 100%;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &.action {
      clear: both;
      float: none;
      margin-bottom: 0;
      padding-top: 11px;
      text-align: center;
      width: 100%;
    }
  }

  #{$all-text-inputs} {
    margin-bottom: 0;
  }

  label {
    margin-bottom: 12px;

    span {
      color: $action-color;
    }
  }
}
