#one {
  padding-top: 0;
  padding-bottom: 70px;

  @media #{$medium} {
    padding-bottom: 40px;
  }

  @media #{$small} {
    padding-bottom: 30px;
  }

  @media #{$large} {
    padding-bottom: 109px;
  }
}

#three {
  padding-bottom: 19px;

  @media #{$small} {
    padding-bottom: 10px;
  }
}

#four {
  padding-bottom: 24px;

  @media #{$small} {
    padding-bottom: 10px;
  }
}

#five {
  padding-top: 0;
  padding-bottom: 70px;

  @media #{$small} {
    padding-bottom: 60px;
  }

  @media #{$large} {
    padding-bottom: 114px;
  }
}

#six {
  padding: 0;
}

#seven {
  padding: 61px 0 30px;

  @media #{$medium} {
    padding: 40px 0 10px;
  }
}

.section-title {
  margin-bottom: 52px;

  @media #{$medium} {
    margin-bottom: 40px;
  }

  @media #{$small} {
    margin-bottom: 20px;
  }
}
