#logo {
  padding: 0;
}

#three {
  padding-bottom: 56px;

  @media #{$large} {
    padding-top: 99px;
  }

  @media #{$small} {
    padding-bottom: 35px;
  }
}

#four {
  padding-bottom: 60px;
  padding-top: 60px;

  @media #{$small} {
    padding: 40px 0 35px;
  }
}

#five {
  padding-top: 40px;
  padding-bottom: 64px;

  @media #{$small} {
    padding: 40px 0 35px;
  }
}

#six {
  @media #{$large} {
    padding-top: 106px;
    padding-bottom: 118px;
  }

  .section-title {
    @media #{$large} {
      margin-bottom: 27px;
    }
  }
}

#request-form-first {
  padding-bottom: 34px;
}

#request-form-second {
  padding-top: 0;
}

#request-confirmation-first {
  padding-top: 101px;

  @media #{$medium} {
    padding: 60px 0 50px;
  }
}

#custom-design-first {
  padding-bottom: 52px;
}

.section-title {
  padding-top: 20px;
  position: relative;

  &:before {
    border-top: 2px solid currentColor;
    content: '';
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
}
