.sponsors {
  .sponsor {
    padding: 15px;
  }

  &-item {
    margin-bottom: 20px;

    &:nth-child(4n + 1) {
      clear: both
    }

    @media #{$medium} {
      &:nth-child(4n + 1) {
        clear: none;
      }

      &:nth-child(2n + 1) {
        clear: both
      }
    }
  }
}
