.tiles {
  $root: &;
  clear: both;
  padding-top: 18px;

  @media #{$medium} {
    align-content: stretch;
    align-items: stretch;
    clear: both;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 0;
  }

  @media #{$small} {
    flex-direction: column;
  }

  &__item {
    @include tileStyle(43%, 60px);
    transition: all $base-duration $base-timing;
    margin-bottom: 20px;

    @media #{$medium} {
      padding-bottom: 62%;
    }

    @media #{$small} {
      padding-bottom: 70%;
    }

    @media #{$tiny} {
      padding-bottom: 90%;
    }

    article {
      @media #{$large} {
        padding: 80px;
      }

      @media #{$medium} {
        padding: 30px;
      }

      h2 {
        margin-bottom: 0;
        word-break: break-word;
      }

      p {
        margin-bottom: 22px;
      }
    }
  }

  &--three-column {
    #{$root}__item {
      @include tileStyle(38%, 30px);

      @media #{$medium} {
        margin-bottom: 20px;
        padding-bottom: 45%;
      }

      @media #{$tablet} {
        padding-bottom: 50%;
      }

      @media #{$small} {
        padding-bottom: 70%;
      }

      @media #{$tiny} {
        padding-bottom: 90%;
      }

      @media #{$large} {
        padding-bottom : 26.1%;
      }

      article {
        @media #{$large} {
          padding: 50px;
        }

        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }
}
