.tile {
  $root: &;

  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 30px;
  position: relative;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    margin-top: 0;
  }

  @media #{$medium} {
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 30px;
    }
  }

  @media #{$small} {
    margin-top: 20px;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 20px;
    }
  }

  .media-wrap {
    margin-bottom: 23px;
    padding-bottom: 69%;

    @media #{$small} {
      margin-bottom: 15px;
    }

    article {
      @extend .text-white;
      @extend %heading;
      @extend %h3;
      @include position(absolute, null 0 0 0);
      margin-bottom: 0;
      padding: 15px 20px;
      z-index: 3;

      @media #{$large} {
        padding: 44px 39px;
      }

      p {
        margin-bottom: 2px;
      }
    }
  }

  &-text {
    line-height: 1.44;
    margin-bottom: $small-spacing;
  }
}

.tiles {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-flow: row wrap;
  place-content: stretch flex-start;

  &--3col {
    .tile {
      &:nth-child(4) {
        margin-top: 30px;
      }

      &-media {
        @media #{$large} {
          padding-bottom: 59.5%;
        }
      }
    }
  }
}
