html {
  @media #{$small} {
    font-size: 80%;
  }
}

// Basic Layout Considerations
.page-wrapper {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 100%;

  > section {
    @include clearfix();
    padding-bottom: 80px;
    padding-top: 73px;

    @media #{$large} {
      padding-bottom: 134px;
    }

    @media #{$medium} {
      padding: 60px 0 50px;
    }

    @media #{$small} {
      padding: 40px 0 35px;
    }

    > .container {
      @include grid-container;
      margin: 0 auto;
      max-width: $page-width;
    }

    > .container-small {
      max-width: $page-small-width;
    }
  }
}

.grid-6 {
  @include grid-column(6);

  @media #{$medium} {
    @include grid-column(6, $medium-grid);
  }

  @media #{$tablet} {
    @include grid-column(6, $small-grid);
  }
}

.grid-12 {
  @include grid-column(12);

  @media #{$medium} {
    @include grid-column(12, $medium-grid);
  }

  @media #{$small} {
    @include grid-column(6, $small-grid);
  }
}
