.text-center {
  text-align: center;
}

.text-white {
  color: $color-white;
}

.text-dark {
  color: $base-font-color;
}

.bg-light {
  background-color: rgba($color-gray-cf, .1);
}

.border-container {
  max-width: $page-width;
  padding: 0 $gutter-width;
  margin: 0 auto;

  @media #{$medium} {
    padding: 0 $gutter-medium-width;
  }

  &-inner {
    border-bottom: 1px solid $color-gray-ef;
  }
}

.read-more a {
  font-size: 20px;
}
